<section
  class="vh-100 bg-image"
  style="background-image: url('assets/images/HomePageBg.png')"
>
  <div class="content">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand"> Tutorials-App</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToList()">Tutorials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToAdd()">Add</a>
        </li>
      </div>
    </nav>
    <div class="container mt-3"></div>
  </div>
</section>
